html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  .full-width {
    width: 100%;
  }
  @font-face {
    font-family: "Poppins-Regular";
    src: url('Poppins/Poppins-Regular.ttf') format('truetype');
}
  .headers{
    font-family: "Poppins-Regular";
    font-size: 15px;
    }
.headbut{
    font-family: "Poppins-Regular";
    background-color: #1B1A1A;
    color: white; 
    font-size: 15px;            
}
.fon{
  font-family: "Poppins-Regular";
}
.c2{
  font-family: "Poppins-Regular";
  font-size: 32px;
}
.c2-p{
  font-family: "Poppins-Regular";
  font-size: 16px;
}
.c2-n{
  font-family: "Poppins-Regular";
}
.c3{
  font-family: "Poppins-Regular";
}